.recapPage {
  padding: 1em;
  width: 50%;
  height: 100%;
  font-size: calc(2vh + 1vw);
}

.text {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.recapBlock {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  gap: 5%;
}

.recapFooter {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  padding: 5%;
}

@media screen and (max-width: 950px) {
  .recapPage{
    width: 100%;
    height: 50%;
  }
}