.calendar_box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 70px;
}

.left_container {
  width: 500px;
  height: 450px;
  box-shadow: 0 0 100px 10px rgba(40, 40, 40, 0.296);
  border-radius: 20px 20px 0 0;
  animation: left-come 1s ease;
}

.calendar_component {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.right_container {
  width: 300px;
  height: 500px;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 0 0 100px 10px rgba(40, 40, 40, 0.296);
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: right-come 1s ease;
}
.right_container h1 {
  text-align: center;
}

.right_container::-webkit-scrollbar {
  display: none;
}

.greenBadge .MuiBadge-badge {
  background-color: green;
}

@keyframes left-come {
  from {
    opacity: 0;
    transform: translateX(-600px);  
  }
  to {
   opacity: 1;
   transform: translateX(0px); 
  }
}
@keyframes right-come {
  from {
    opacity: 0;
    transform: translateX(600px);  
  }
  to {
   opacity: 1;
   transform: translateX(0px); 
  }
}


@media screen and (max-width: 1066px) {
  .left_container {
    width: 300px;
  }
  .right_container {
    width: 300px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 690px) {
  .calendar_box {
    display: block;
    overflow: scroll;
  }

  .left_container {
    width: 290px;
    margin: 100px auto;
  }
  .right_container {
    margin: 50px auto;
    width: 270px;
  }
}
