.login {
  display: flex;
  width: 100vw;
  height: calc(100vh - 56px);
}

.loginPro {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(238, 225, 240, 0.8);
}

.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.loginForm {
  width: 100%;;
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.loginForm > div {
  margin-bottom: 1em;
}

.loginForm > div > div {
justify-content: center;}

.loginForm form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.switch {
  padding: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm button {
  width: 35ch;
}

.infoMessage {
  color: var(--danger-color);
  margin-bottom: 1em;
}

@media screen and (max-width: 950px) {
  .login, .loginPro {
    flex-direction: column;
  }

  .loginForm {
    overflow-y: auto;
  }

  .container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .loginForm form {
    height: 100%;
  }
}
