.blur_modal {
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_box {
    height: fit-content;
    width: fit-content;
    min-height: 200px;
    min-width: 200px;
    max-width: 600px;
    max-height: 600px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
   z-index: 99;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   border: solid blueviolet 2px;
}

.modal_border {
    display: flex;
   justify-content: center;
   align-items: center;
    height: 90%;
    width: 90%;
}

.back_btn {
    height: 30px;
    width: 80px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(201, 144, 255);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .background_box {
        height: fit-content;
        width: fit-content;
        min-height: 200px;
        min-width: 200px;
        max-width: 600px;
        max-height: 500px;
        padding: 10px;
        margin-left: 50px;
    }
}