.modifydata_box {
    display: flex;
    justify-content: flex-start;
    height: calc(100% - 30px);
    width: calc(100% - 70px);
    overflow: auto;
}

@media screen and (max-width: 950px) {
    .modifydata_box  {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: calc(100% - 60px);
      width: calc(100% - 70px);
    }
  }