.page {
  background: var(--main-bg-gradient);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark-color);
  overflow: scroll;
}
.header_card {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--main-color);
}
.name_type {
  padding: 0 30px;
}
.button_back {
  background: transparent;
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  cursor: pointer;
}
.page h2 {
  margin-top: 1rem;
  color: white;
  font-size: large;
}
.page p {
  margin: 0.5rem;
  font-size: small;
}
.page h4 {
  color: white;
  margin: 0.5rem;
  font-size: small;
}
.page h3 {
  font-size: medium;
  margin: 0.5rem;
  color: var(--main-color);
}
.card_global {
  background-color: white;
  border-radius: 10px;
  width: 90vw;
}
.image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: inherit;
  width: 100%;
  background-position: center;
}

.card_bottom {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}
.informations {
  padding: 10px;
  background: var(--main-bg-color);
  display: flex;
  align-items: center;
}
.tel_mail {
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: var(--dark-color);
}
.button_reservation {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background: var(--main-bg-gradient);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 450px) {
  .card_global {
    width: 70vw;
  }
  .image {
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .card_global {
    width: 60vw;
  }
  .image {
    height: 250px;
  }
}
@media screen and (min-width: 1024px) {
  .card_global {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
  }
  .card_left {
    max-width: 450px;
    padding: 3rem;
  }
  .image {
    height: 250px;
    border-radius: 20px;
  }
  .card_bottom {
    padding: 3rem;
  }

  .informations {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  .page p {
    font-size: medium;
  }
  .page h3 {
    margin: 1rem;
    font-size: large;
  }
}
