body {
  width: 100vw;
  overflow: hidden;
}

#root {
  width: 100%;
  --main-color: rgb(86,100,210);
  --second-color: rgb(116,120,141);
  --dark-color: rgb(52,58,64);
  --pink-color: rgb(232,62,140);
  --success-color: rgb(28,187,140);
  --info-color: rgb(74,163,255);
  --warning-color: rgb(252,185,44);
  --danger-color: rgb(255,61,96);
  --main-font-family: 'Red Hat Text', sans-serif;
  --second-font-family: 'Adamina', serif;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0px;
  padding: 0px;
  font-family: var(--main-font-family);
}

.dashboard_bg_color {
  background-color: rgb(230, 242, 243);
  position: relative;
  overflow: hidden;
}

.dashboard_box {
 position: absolute;
 width: 100vw;
 margin-left: 10px;
 margin-top: 30px;
 height: 100vh;
 top: 0px;
 display: flex;
 justify-content: center;
 align-items: center;

}

@media screen and (max-width: 500px) {
  .dashboard_box {
    width: 100vw;
    height: 96vh;
    margin-left: 30px;
    margin-top: 20px;
  }
}