.search_list_page {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-gradient);
  color: white;
  height: calc(100vh - 56px);
}
.button_back {
  background: transparent;
  color: white;
  position: fixed;
  top: 2%;
  left: 2%;
  cursor: pointer;
  z-index: 300;
}
.search_list_page h2 {
  margin-top: 4rem;
}
.cards_media {
  margin-top: 1rem;
  width: fit-content;
  height: fit-content;
  overflow-y: auto;
  scrollbar-width: none;
}
.cards_media::-webkit-scrollbar {
  display: none;
}
.logo_log_in {
  position: fixed;
  width: 100vw;
  height: 60px;
  z-index: 100;
  right: 0;
  top: 0;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.logo_log_in img {
  margin-right: 5px;
  cursor: pointer;
}
.search_list_page a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  margin-right: 25px;
}

.dispos_pro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}
.dispos_pro li {
  padding: 1px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .cards_media {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .card_media {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .search_list_page h2 {
    margin-top: 0rem;
  }
  .card_media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .logo_log_in {
    right: 5%;
    top: 5%;
    font-size: x-large;
  }
  .logo_log_in img {
    margin-right: 10px;
    cursor: pointer;
  }
}
