.search_list_page {
  /*   height: 100vh;
 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.search_list_page h2 {
  margin-top: 4rem;
}

.logo_log_in {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2rem 1rem;
  font-weight: bold;
}
.logo_log_in img {
  margin-right: 5px;
}
.card {
  padding: 20px;
}
.dispos_pro {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.dispos_pro li {
  padding: 1px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .card_media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
