.menu {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.menu p {
  font-size: 2em;
}

.menu button {
  cursor: pointer;
  width: 100%;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 1.5em;
}

.babyPic {
  display: none;
}

@media screen and (min-width: 950px) {
  .menuScreen {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
    height: calc(100vh - 15vh - 8em - 5px);
  }

  .babyPic {
    display: block;
    height: 75%;
    border-radius: 25px;
  }

  .menu {
    border-radius: 25px;
    width: 50%;
  }

  .menu p {
    font-size: 2em;
  }

  .name {
    flex-direction: row;
    gap: 0.5em;
    font-size: 200%;
  }
  .menu li {
    display: flex;
    justify-content: center;
  }
  .menu button {
    width: fit-content;
  }
}