.header {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0em;
  box-shadow: 0px 1px 10px var(--main-color);
  background-image: var(--main-bg-gradient);
}

.avatarWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  overflow: hidden;
  height: 15vh;
  width: 15vh;
}

.avatar {
  height: 100%;
  border-radius: 100%;
}

.name {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: white;
  gap: 0.5em;
}

@media screen and (max-width: 1175px) {
  .header {
    margin-bottom: 2rem;
  }
}
