.banner {
  display: flex;
  gap: 5%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;

}

.banner p {
  font-size: 1.5em;
}

.button_back {
  cursor: pointer;
  background: transparent;
  color: black;
  margin-left: 5%;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px 5px 5px;
  border-radius: 50%;
}

.button_back:hover {
  scale: 1.1;
  background-color: rgb(165,165,255);
}

.ordersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  overflow-y: scroll;
  height: calc(100vh - 15vh - 8em - 63px);
}

@media screen and (min-width: 1176px) {
  .banner {
   margin-top: 20px;
  }
}