.banner {
  display: flex;
  gap: 5%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5%;
}

.banner p {
  font-size: 1.5em;
}

.button_back {
  cursor: pointer;
  background: transparent;
  color: black;
  margin-left: 5%;
}