.welcomePage {
  background: var(--main-bg-gradient);
  height: calc(100vh - 53px);
  width: 100vw;
  color: white;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card img {
  margin: 1.5rem 0 1rem;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text h3 {
  margin: 0.5rem;
  font-size: medium;
}
.text p {
  max-width: 300px;
  margin-top: 1rem;
  font-size: small;
}
.file a,
.fileLater a {
  text-decoration: none;
  color: white;
}
.file h3 {
  cursor: pointer;
  margin-top: 3rem;
}
.fileLater a {
  display: flex;
  margin-top: 1.5rem;
}
.button_next {
  background: transparent;
  color: white;
  cursor: pointer;
}
.button_back {
  background: transparent;
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .welcomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo1 {
    height: 8vh;
    width: auto;
  }
  .logo2 {
    height: 30vh;
    width: auto;
  }
  .text h1 {
    font-size: xxx-large;
  }
  .text h3 {
    font-size: x-large;
  }
  .text p {
    font-size: medium;
  }
}
