.page {
  background: var(--main-bg-gradient);
  height: calc(100vh - 56px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  overflow: auto;
}
.header_card {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_card img {
  border-radius: 10px;
  margin-top: 3rem;
}
.header_card p,
.header_card h3 {
  width: 18rem;
  margin: 1.5rem 0;
  color: white;
  text-align: center;
}
.button_back {
  background: transparent;
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  cursor: pointer;
}

.button_child,
.button_parent {
  width: 18rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  margin: 0.8rem;
  color: white;
  cursor: pointer;
}
.button_child {
  background-color: var(--info-color);
}
.button_parent {
  background-color: var(--success-color);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.profilePicture {
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .page {
    justify-content: center;
  }
  .header_card {
    height: auto;
  }
  .header_card img {
    margin: 0 0 1.5rem;
    box-shadow: 5px 5px 5px var(--second-color);
  }

  .header_card h3 {
    width: 30rem;
    margin: 1rem;
    font-size: xx-large;
  }
  .header_card p {
    width: 30rem;
    font-size: x-large;
  }
  .button_child,
  .button_parent {
    width: 30rem;
    margin: 1rem;
    font-size: large;
    box-shadow: 5px 5px 5px var(--second-color);
  }
}
