/* Page globale avec en-tete et partie en commun*/
.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: scroll;
}
.header_card {
  background: var(--main-bg-gradient);
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 10rem;
}
.button_back {
  background: transparent;
  color: white;
  position: fixed;
  top: 5%;
  left: 5%;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}
.buttonChild,
.buttonParent {
  padding: 1rem 1.5rem;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}
.buttonChild {
  background-color: var(--info-color);
}
.buttonParent {
  background-color: var(--success-color);
}
.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  position: relative;
  z-index: 1;
}
.file h2 {
  color: var(--main-color);
  position: absolute;
  left: 3%;
  font-size: medium;
  margin-top: 2rem;
}

/* Partie des enfants uniquement*/
.card_child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  position: relative;
  color: var(--main-color);
  background: #fff;
  background-clip: padding-box;
  padding: 0.5rem 3rem;
  border-radius: 20px;
}
.card_child:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -7px;
  border-radius: inherit;
  background: var(--main-bg-gradient);
}
.card_child h4 {
  color: var(--pink-color);
}
.card_child h3 {
  color: var(--main-color);
  margin: 0.5rem;
}
.button_head {
  width: 90vw;
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}
.button,
.button_validation {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.form {
  background: var(--main-bg-gradient);
  margin-top: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.form input {
  border-radius: 10px;
  padding: 0.7rem 3rem;
  margin: 0.3rem;
}
::placeholder {
  color: var(--main-color);
}

.validation_message {
  margin: 0.8rem;
}
.radios {
  margin-top: 1.5rem;
}
.radio {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.button_validation {
  margin-top: 0.8rem;
}
/* Partie des parents uniquement*/
.form_parent {
  margin-top: 1rem;
}
