.requirementsScreen {
  background: var(--main-bg-gradient);
  height: calc(100vh - 56px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  text-align: center;
}

.button_back {
  background: transparent;
  color: white;
  position: fixed;
  top: 2%;
  left: 2%;
  cursor: pointer;
}

.requirementsScreen h1 {
  margin: 2rem 0;
  color: white;
}

.container {
  margin-top: 1rem;
  height: fit-content;
  scrollbar-width: none;
  overflow-y: auto;
  box-shadow: 5px 5px 5px var(--second-color);
  margin-bottom: 1rem;
  border-radius: 10px;
}

.card {
  overflow-y: hidden;
  padding: 2em;
  background: white;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}

.description {
  margin-bottom: 2em;
}

.requirement {
  margin: 1em;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.disclaimer {
  max-width: 35ch;
  width: 90%;
  margin: 2rem 0;
}

.button {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background: var(--main-bg-gradient);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.disabledButton {
  padding: 0.5rem 2rem;
  border-radius: 10px;
  background: var(--second-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .requirementsScreen {
    overflow-y: scroll;
  }
  .card {
    width: 90vw;
  }
}

@media screen and (min-width: 450px) {
  .requirementsScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}